<main id="mainContent" class="col-10 p-4">
    <!-- 這裡將載入 partial -->
    <h1 class="text-muted">📌 歡迎使用圖書館管理系統</h1>
    <p>請從左方選單選取一項功能</p>
</main>

<h3>XXX使用者歡迎歸來，今天又是美好的一天</h3>
<h4>本日工作注意事項：</h4>
<h5>借還書違規項目：共XXX件</h5>
<h5>預約取書的項目：共XXX件</h5>