<main id="mainContent" class="col-12 mt-5 justify-content-center text-center">
    <!-- 這裡將載入 partial -->
    <h1 class="text-muted">📌 歡迎使用圖書館管理系統📌</h1>
    <p class="fs-1">XXX使用者歡迎歸來，今天又是美好的一天</p>
    <p class="fs-3">請從左方選單選取一項功能</p>
</main>

