<div id="carousel_book" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item page active" id="page1">
            <div class="row box_book sep">
                <div class="col-3 col-lg-4 d-flex w-33" style="justify-content: center; align-items: center">
                    <img src="~/images/book1.png" />
                </div>
                <div class="col-6 col-lg-6 d-flex w-50" style="justify-content: left; align-items: center; text-align: left">
                    <table>
                        <tr><th><h4><strong>人間失格1</strong></h4></th></tr>
                        <tr>
                            <th>作者</th>
                            <td>太宰治</td>
                        </tr>
                        <tr>
                            <th>譯者</th>
                            <td>竺家榮</td>
                        </tr>
                        <tr>
                            <th>出版社</th>
                            <td>天地圖書有限公司</td>
                        </tr>
                        <tr>
                            <th>語言</th>
                            <td>中文</td>
                        </tr>
                        <tr>
                            <th>ISBN</th>
                            <td>9789888258635</td>
                        </tr>
                    </table>
                </div>
                <div class="col-3 col-lg-2 d-flex" style="align-items: end">
                    <button type="button" class="btn mt-0 btn_book w-75 mb-3">更多</button>
                </div>
            </div>
            <div class="row box_book sep">
                <div class="col-3 col-lg-4 d-flex w-33" style="justify-content: center; align-items: center">
                    <img src="~/images/book1.png" />
                </div>
                <div class="col-6 col-lg-6 d-flex w-50" style="justify-content: left; align-items: center; text-align: left">
                    <table>
                        <tr><th><h4><strong>人間失格2</strong></h4></th></tr>
                        <tr>
                            <th>作者</th>
                            <td>太宰治</td>
                        </tr>
                        <tr>
                            <th>譯者</th>
                            <td>竺家榮</td>
                        </tr>
                        <tr>
                            <th>出版社</th>
                            <td>天地圖書有限公司</td>
                        </tr>
                        <tr>
                            <th>語言</th>
                            <td>英文</td>
                        </tr>
                        <tr>
                            <th>ISBN</th>
                            <td>9789888258635</td>
                        </tr>
                    </table>
                </div>
                <div class="col-3 col-lg-2 d-flex" style="align-items: end">
                    <button type="button" class="btn mt-0 btn_book w-75 mb-3">更多</button>
                </div>
            </div>
            <div class="row box_book sep">
                <div class="col-3 col-lg-4 d-flex w-33" style="justify-content: center; align-items: center">
                    <img src="~/images/book1.png" />
                </div>
                <div class="col-6 col-lg-6 d-flex w-50" style="justify-content: left; align-items: center; text-align: left">
                    <table>
                        <tr><th><h4><strong>人間失格3</strong></h4></th></tr>
                        <tr>
                            <th>作者</th>
                            <td>太宰治</td>
                        </tr>
                        <tr>
                            <th>譯者</th>
                            <td>竺家榮</td>
                        </tr>
                        <tr>
                            <th>出版社</th>
                            <td>天地圖書有限公司</td>
                        </tr>
                        <tr>
                            <th>語言</th>
                            <td>日本語</td>
                        </tr>
                        <tr>
                            <th>ISBN</th>
                            <td>9789888258635</td>
                        </tr>
                    </table>
                </div>
                <div class="col-3 col-lg-2 d-flex" style="align-items: end">
                    <button type="button" class="btn mt-0 btn_book w-75 mb-3">更多</button>
                </div>
            </div>
            <div class="row box_book sep">
                <div class="col-3 col-lg-4 d-flex w-33" style="justify-content: center; align-items: center">
                    <img src="~/images/book1.png" />
                </div>
                <div class="col-6 col-lg-6 d-flex w-50" style="justify-content: left; align-items: center; text-align: left">
                    <table>
                        <tr><th><h4><strong>人間失格4</strong></h4></th></tr>
                        <tr>
                            <th>作者</th>
                            <td>太宰治</td>
                        </tr>
                        <tr>
                            <th>譯者</th>
                            <td>竺家榮</td>
                        </tr>
                        <tr>
                            <th>出版社</th>
                            <td>天地圖書有限公司</td>
                        </tr>
                        <tr>
                            <th>語言</th>
                            <td>한국어</td>
                        </tr>
                        <tr>
                            <th>ISBN</th>
                            <td>9789888258635</td>
                        </tr>
                    </table>
                </div>
                <div class="col-3 col-lg-2 d-flex" style="align-items: end">
                    <button type="button" class="btn mt-0 btn_book w-75 mb-3">更多</button>
                </div>
            </div>
            <div class="row box_book">
                <div class="col-3 col-lg-4 d-flex w-33" style="justify-content: center; align-items: center">
                    <img src="~/images/book1.png" />
                </div>
                <div class="col-6 col-lg-6 d-flex w-50" style="justify-content: left; align-items: center; text-align: left">
                    <table>
                        <tr><th><h4><strong>人間失格5</strong></h4></th></tr>
                        <tr>
                            <th>作者</th>
                            <td>太宰治</td>
                        </tr>
                        <tr>
                            <th>譯者</th>
                            <td>竺家榮</td>
                        </tr>
                        <tr>
                            <th>出版社</th>
                            <td>天地圖書有限公司</td>
                        </tr>
                        <tr>
                            <th>語言</th>
                            <td>le français</td>
                        </tr>
                        <tr>
                            <th>ISBN</th>
                            <td>9789888258635</td>
                        </tr>
                    </table>
                </div>
                <div class="col-3 col-lg-2 d-flex" style="align-items: end">
                    <button type="button" class="btn mt-0 btn_book w-75 mb-3">更多</button>
                </div>
            </div>
        </div>
        <div class="carousel-item page" id="page2">
            <div class="row box_book sep">
                <div class="col-3 col-lg-4 d-flex w-33" style="justify-content: center; align-items: center">
                    <img src="~/images/book1.png" />
                </div>
                <div class="col-6 col-lg-6 d-flex w-50" style="justify-content: left; align-items: center; text-align: left">
                    <table>
                        <tr><th><h4><strong>人間失格6</strong></h4></th></tr>
                        <tr>
                            <th>作者</th>
                            <td>太宰治</td>
                        </tr>
                        <tr>
                            <th>譯者</th>
                            <td>竺家榮</td>
                        </tr>
                        <tr>
                            <th>出版社</th>
                            <td>天地圖書有限公司</td>
                        </tr>
                        <tr>
                            <th>語言</th>
                            <td>中文</td>
                        </tr>
                        <tr>
                            <th>ISBN</th>
                            <td>9789888258635</td>
                        </tr>
                    </table>
                </div>
                <div class="col-3 col-lg-2 d-flex" style="align-items: end">
                    <button type="button" class="btn mt-0 btn_book w-75 mb-3">更多</button>
                </div>
            </div>
            <div class="row box_book sep">
                <div class="col-3 col-lg-4 d-flex w-33" style="justify-content: center; align-items: center">
                    <img src="~/images/book1.png" />
                </div>
                <div class="col-6 col-lg-6 d-flex w-50" style="justify-content: left; align-items: center; text-align: left">
                    <table>
                        <tr><th><h4><strong>人間失格7</strong></h4></th></tr>
                        <tr>
                            <th>作者</th>
                            <td>太宰治</td>
                        </tr>
                        <tr>
                            <th>譯者</th>
                            <td>竺家榮</td>
                        </tr>
                        <tr>
                            <th>出版社</th>
                            <td>天地圖書有限公司</td>
                        </tr>
                        <tr>
                            <th>語言</th>
                            <td>英文</td>
                        </tr>
                        <tr>
                            <th>ISBN</th>
                            <td>9789888258635</td>
                        </tr>
                    </table>
                </div>
                <div class="col-3 col-lg-2 d-flex" style="align-items: end">
                    <button type="button" class="btn mt-0 btn_book w-75 mb-3">更多</button>
                </div>
            </div>
            <div class="row box_book sep">
                <div class="col-3 col-lg-4 d-flex w-33" style="justify-content: center; align-items: center">
                    <img src="~/images/book1.png" />
                </div>
                <div class="col-6 col-lg-6 d-flex w-50" style="justify-content: left; align-items: center; text-align: left">
                    <table>
                        <tr><th><h4><strong>人間失格8</strong></h4></th></tr>
                        <tr>
                            <th>作者</th>
                            <td>太宰治</td>
                        </tr>
                        <tr>
                            <th>譯者</th>
                            <td>竺家榮</td>
                        </tr>
                        <tr>
                            <th>出版社</th>
                            <td>天地圖書有限公司</td>
                        </tr>
                        <tr>
                            <th>語言</th>
                            <td>日本語</td>
                        </tr>
                        <tr>
                            <th>ISBN</th>
                            <td>9789888258635</td>
                        </tr>
                    </table>
                </div>
                <div class="col-3 col-lg-2 d-flex" style="align-items: end">
                    <button type="button" class="btn mt-0 btn_book w-75 mb-3">更多</button>
                </div>
            </div>
            <div class="row box_book sep">
                <div class="col-3 col-lg-4 d-flex w-33" style="justify-content: center; align-items: center">
                    <img src="~/images/book1.png" />
                </div>
                <div class="col-6 col-lg-6 d-flex w-50" style="justify-content: left; align-items: center; text-align: left">
                    <table>
                        <tr><th><h4><strong>人間失格9</strong></h4></th></tr>
                        <tr>
                            <th>作者</th>
                            <td>太宰治</td>
                        </tr>
                        <tr>
                            <th>譯者</th>
                            <td>竺家榮</td>
                        </tr>
                        <tr>
                            <th>出版社</th>
                            <td>天地圖書有限公司</td>
                        </tr>
                        <tr>
                            <th>語言</th>
                            <td>한국어</td>
                        </tr>
                        <tr>
                            <th>ISBN</th>
                            <td>9789888258635</td>
                        </tr>
                    </table>
                </div>
                <div class="col-3 col-lg-2 d-flex" style="align-items: end">
                    <button type="button" class="btn mt-0 btn_book w-75 mb-3">更多</button>
                </div>
            </div>
            <div class="row box_book">
                <div class="col-3 col-lg-4 d-flex w-33" style="justify-content: center; align-items: center">
                    <img src="~/images/book1.png" />
                </div>
                <div class="col-6 col-lg-6 d-flex w-50" style="justify-content: left; align-items: center; text-align: left">
                    <table>
                        <tr><th><h4><strong>人間失格10</strong></h4></th></tr>
                        <tr>
                            <th>作者</th>
                            <td>太宰治</td>
                        </tr>
                        <tr>
                            <th>譯者</th>
                            <td>竺家榮</td>
                        </tr>
                        <tr>
                            <th>出版社</th>
                            <td>天地圖書有限公司</td>
                        </tr>
                        <tr>
                            <th>語言</th>
                            <td>le français</td>
                        </tr>
                        <tr>
                            <th>ISBN</th>
                            <td>9789888258635</td>
                        </tr>
                    </table>
                </div>
                <div class="col-3 col-lg-2 d-flex" style="align-items: end">
                    <button type="button" class="btn mt-0 btn_book w-75 mb-3">更多</button>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 3vh" id="box_man">
        <i class="bi bi-person-walking" id="man1"></i>
        <i class="bi bi-person-walking" id="man2"></i>
        <i class="bi bi-person-walking" id="man3"></i>
        <i class="bi bi-person-walking" id="man4"></i>
        <i class="bi bi-person-walking" id="man5"></i>
    </div>

    <nav aria-label="Page navigation" id="box_pag">
        <ul class="pagination">
            <li class="page-item" data-bs-target="#carousel_book" data-bs-slide="prev" id="btn_prev"><a class="page-link" href="#">上頁</a></li>
            <li class="page-item" data-bs-target="#carousel_book" data-bs-slide-to="0"><a class="page-link" href="#">1</a></li>
            <li class="page-item" data-bs-target="#carousel_book" data-bs-slide-to="1"><a class="page-link" href="#">2</a></li>
            <li class="page-item" data-bs-target="#carousel_book" data-bs-slide-to="2"><a class="page-link" href="#">3</a></li>
            <li class="page-item" data-bs-target="#carousel_book" data-bs-slide-to="3"><a class="page-link" href="#">4</a></li>
            <li class="page-item" data-bs-target="#carousel_book" data-bs-slide-to="4"><a class="page-link" href="#">5</a></li>
            <li class="page-item" data-bs-target="#carousel_book" data-bs-slide="next" id="btn_next"><a class="page-link" href="#">下頁</a></li>
        </ul>
    </nav>
</div>