<div class="tab-content mb-5" id="nav-tabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="btn_tab1">
        <div class="container-xl mt-5">
            「人間失格」，即「失去做人資格」之意。
            小說主角大庭葉藏天生個性敏感而脆弱，
            自小便體會到人性虛偽，不能真誠活著，
            習慣將真實的自己藏在內心深處，以面具示人，
            因此每一刻都過得萬分痛苦。
            為了逃避現實，他生活浪蕩，不斷沉淪，最終一步步邁向自我毀滅。
            本書情節及表達的人生觀，與作者自身經歷和思想相似，故被視為半自傳體小說；
            太宰治完成此作後，便與戀人投水殉情，所以也有人稱這是他的絕筆之作。
            《人間失格》是太宰治最傑出的作品，筆調陰暗，能令讀者自省，重新面對真實的自己，
            曾創下發行量一千萬冊的紀錄。
            附錄的短篇《女生徒》，以描寫少女細膩的心思、陰晴不定的情緒見稱；曾獲得北村透谷文學獎。
        </div>
    </div>
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="btn_tab2">
        <div class="container-xl mt-5">
            太宰治(Dazai Osamu, 1909-1948)
            是一位日本小說家，也是戰後無賴派文學的代表作家。
            他本名津島修治，出生於青森縣的富裕家庭，從小就展現出對文學的熱愛，並立志成為作家。
            他的作品多以自我為中心，描寫人性的黑暗面，以及對社會的反思和批判。
            他的作品，如《人間失格》、《斜陽》等，至今仍深受讀者喜愛，並被多次改編成影視作品。
        </div>
    </div>
    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="btn_tab3">
        <div class="container-xl mt-5">
            <table class="table">
                <thead>
                    <tr>
                        <th>編號</th>
                        <th>書名</th>
                        <th>書號</th>
                        <th>類型</th>
                        <th>狀態</th>
                        <th>預約人數</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="align-middle">
                        <td>35153151</td>
                        <td>人間失格</td>
                        <td>YA 997.82 6073</td>
                        <td>漫畫</td>
                        <td>借出</td>
                        <td>5</td>
                        <td><button type="button" class="btn mt-0" id="btn_reserve">預約</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>