@await Html.PartialAsync("~/Areas/Frontend/Views/Shared/_Partial/_modal.cshtml")

<section id="sec1" class="mt-0">sec1</section>
<section id="sec2">sec2</section>
<section id="sec3">sec3</section>
<section id="sec4">sec4</section>
<section id="sec5">
    @await Html.PartialAsync("~/Areas/Frontend/Views/Shared/_Partial/_tree.cshtml")sec5
</section>