<section id="sec1" class="m-0">
    <div class="mb-3" style="color: var(--c-black-075);"><h1>圖書館管理系統</h1></div>
    <div id="box_loginM">
        <div class="row" style="align-items: center">
            <div class="col-9">
                <div class="mb-3"><label>帳號 <i class="bi bi-person i_loginM"></i> <input type="text" name="accountM" /></label></div>
                <div><label>密碼 <i class="bi bi-key i_loginM"></i> <input type="text" name="passwordM" /></label></div>
            </div>
            <div class="col-3">
                <button type="button" class="btn mt-0" id="btn_loginM">管理者登入</button>
            </div>
        </div>
    </div>
</section>