
<!-- 主內容 START -->
<div class="row mt-1">
    <div class="col">
        <h1 class="fw-bold">預約管理</h1>
        <hr />
        <!-- 搜尋 START-->
        <form id="appointmenSearch" class="d-flex justify-content-between  flex-wrap gap-3">
            <!-- 查詢表單欄位 -->
            <div class="d-flex flex-wrap gap-3">
                <div>
                    <label class="form-label mb-0 fs-4 fw-bold">預約編號：</label>
                    <input name="appointment_reservationNum" type="number" class="form-control form-control-sm fs-5 fw-bold" placeholder="All"  style="width:100px" />
                </div>
                <div>
                    <label class="form-label mb-0 fs-4 fw-bold">書籍編號：</label>
                    <input name="appointment_bookNum" type="text" class="form-control form-control-sm fs-5 fw-bold" placeholder="All"  style="width:270px"/>
                </div>
                <div>
                    <label class="form-label mb-0 fs-4 fw-bold">預約者ID：</label>
                    <input name="appointment_UserID" type="number" class="form-control form-control-sm fs-5 fw-bold" placeholder="All" style="width:100px" />
                </div>
                <div>
                    <label for="appointment_initDate" class="form-label mb-0 fs-4 fw-bold">預約日期範圍</label>
                    <input id="appointment_initDate" name="appointment_initDate" type="date" class="form-control form-control-sm fs-5 fw-bold" value="@DateTime.Now.AddMonths(-2)" style="width:160px" />
                </div>
                <div>
                    <label for="appointment_lastDate" class="form-label mb-0 fs-4 fw-bold">-至-</label>
                    <input id="appointment_lastDate" name="appointment_lastDate" class="form-control form-control-sm fs-5 fw-bold" type="date" max="@DateTime.Now" value="@DateTime.Now"  style="width:160px"/>
                </div>
                <div>
                    <label for="appointment_state" class="form-label mb-0 fs-4 fw-bold">目前狀態：</label>
                    <select name="appointment_state" class="form-select form-select-sm fs-5 fw-bold" style="width:90px">
                        <option value="ALL">全部</option>
                        <option value="已預約">已預約</option>
                        <option value="已取書">已取書</option>
                        <option value="可取書">可取書</option>
                        <option value="取消預約">取消預約</option>
                    </select>
                </div>
                <div class="d-flex align-items-end" >
                    <button id="appointment_select" type="button" class="btn btn-primary btn-sm btn-lg fs-3">查詢</button>
                </div>
                <div  class="d-flex align-items-end">
                    <button id="appointment_clear" type="button" class="btn btn-secondary btn-sm btn-lg fs-3" >清除</button>
                </div>
            </div>
            <!-- 排序兩兄弟 START-->
            <div class="d-flex flex-row bd-highlight">
                <!-- 排序方向 -->
                <div >
                    <label for="appointment_orderDate" class="form-label mb-0 fs-4 fw-bold">預約日期：</label>
                    <select id="appointment_orderDate" name="appointment_orderDate" class="form-select form-select-sm fs-5 fw-bold" style="width:90px">
                        <option value="desc">遞減（新到舊）</option>
                        <option value="asc">遞增（舊到新）</option>
                    </select>
                </div>
                <div>
                    <label for="appointment_perPage" class="form-label mb-0 fs-4 fw-bold">每頁筆數：</label>
                    <select id="appointment_perPage" name="appointment_perPage" valus="10" class="form-select form-select-sm fs-5 fw-bold" style="width:80px">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                    </select>
                </div>
            </div>
            <!-- 排序三兄弟 END -->
        </form>
        <!-- 搜尋 END-->
        <!-- 借閱狀況 START-->
        <div id="AppointmentContent">
            <h1 class="text-danger mt-1">      加載中....</h1>
        </div>
        <!-- 借閱狀況 END -->
    </div>
    <!-- 右邊的功能 END -->
</div>
<!-- 主內容 END -->

