

<h1>書籍登錄</h1>
<form   id="BooksAdded_FormData">
    <div class="card p-4">
        <div class="row justify-content-center align-content-center">
            <div class="col-md-7">
                <div class="mb-3 row">
                    <div class="col">
                        <label class="form-label fs-3 fw-bold" for="BooksAdded_ISBM">ISBN:</label>
                        <input class="form-control" id="BooksAdded_ISBM" name="BooksAdded_ISBM" required/>
                        <span  class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label class="form-label fs-3 fw-bold" for="BooksAdded_Type">書籍分類:</label>
                        <select class="form-select required-field" id="BooksAdded_Type" name="BooksAdded_Type">
                            <option value="1">小說</option>
                            <option value="2">漫畫</option>
                            <option value="3">傳記</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col">
                        <label class="form-label fs-3 fw-bold" for="BooksAdded_Title">書名:</label>
                        <input class="form-control required-field" id="BooksAdded_Title" name="BooksAdded_Title" required/>
                        <span class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label class="form-label fs-3 fw-bold" for="BooksAdded_leng">語言:</label>
                        <select class="form-select required-field" id="BooksAdded_leng" name="BooksAdded_leng">
                            <option value="1">中文</option>
                            <option value="2">English</option>
                            <option value="3">法文</option>
                        </select>
                        <span class="text-danger"></span>
                    </div>
                </div>

                <!-- 作者 + 譯者 -->
                <div class="mb-3 row">
                    <div class="col">
                        <label class="form-label fs-3 fw-bold" for="BooksAdded_author">作者:</label>
                        <input class="form-control" id="BooksAdded_author" name="BooksAdded_author" required/>
                        <span class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label class="form-label fs-3 fw-bold" name="BooksAdded_translator">譯者:</label>
                        <input class="form-control" id="BooksAdded_translator" name="BooksAdded_translator" required/>
                        <span class="text-danger"></span>
                    </div>
                </div>

                <!-- 出版社 + 出版日期 -->
                <div class="mb-3 row">
                    <div class="col">
                        <label class="form-label fs-3 fw-bold" for="BooksAdded_pushier">出版社:</label>
                        <input class="form-control required-field" id="BooksAdded_pushier" name="BooksAdded_pushier" required/>
                        <span class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label class="form-label fs-3 fw-bold " for="BooksAdded_puDate">出版日期:</label>
                        <input type="date" class="form-control required-field" id="BooksAdded_puDate" name="BooksAdded_puDate" required/>
                        <span class="text-danger"></span>
                    </div>
                </div>
                <!--   入庫數 -->
                <div class="mb-3 row">
                    <div class="col">
                        <label class="form-label fs-3 fw-bold" for="BooksAdded_inCount">入庫數量:</label>
                        <input class="form-control required-field" min="1" id="BooksAdded_inCount" name="BooksAdded_inCount" type="number" value="1" />
                        <span class="text-danger"></span>
                    </div>
                </div>
                <!-- 書籍簡介 -->
                <div class="mb-3">
                    <label class="form-label fs-3 fw-bold" for="BooksAdded_Dec">書籍簡介:</label>
                    <textarea class="form-control" id="BooksAdded_Dec" name="BooksAdded_Dec" style="height:130px"></textarea>
                    <span class="text-danger"></span>
                </div>
                <div class="mt-4 text-center">
                    <button type="button" class="btn btn-primary btn-lg px-5 me-3" id="BooksAdded_BtnSend"> 確定登陸書籍</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-5" id="BooksAdded_BtnReset">重置</button>
                </div>
            </div>

            <div class="col-3">
                <!-- 封面 -->
                <div class="mb-1">
                    <label class="form-label fs-3 fw-bold">封面圖片:</label>
                    <input type="file" name="BookAdd_InputImg" id="BookAdd_InputImg"class="form-control"accept="image/*" />
                    <!-- 預覽圖-->
                    <img id="BookAdd_Display"class="img-thumbnail mt-2 mx-3"style="height:600px; width:400px;"src="" />
                </div>
                <div class="row justify-content-end align-content-end mt-4">
                    <button id="BookAdd_Remove" type="button" class="col-5 btn btn-lg btn-danger mx-4" disabled> 移除</button>
                </div>
            </div>
        </div>
        
    </div>
</form>
